{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-page">

    <div class="page-content">
        <h2>Mes posts</h2>
        
        {% for item in items %}

            {% if item.type == "ticket" %}

                {% include 'reviews/ticket.html' with ticket=item page="my_posts" %}

            {% elif item.type == "review" %}
            
            <div class="review-container">
                {% if item.user == user %}
                    <p><strong>Vous</strong> avez publié une critique</p>
                {% else %}
                    <p><strong>{{ item.user.username }}</strong> a publié une critique</p>
                {% endif %}
                <p>Créé le : <strong>{{ item.time_created }}</strong></p>
                <section class="review-headline-rating">
                    <p><strong>{{ item.headline }}</strong> - </p>
                        <div class="review-stars">
                            {% for i in "12345" %}
                                {% if forloop.counter <= item.rating %}
                                    <img src="{% static 'images/full_star.png' %}" alt="Full star icon" class="star-icon">
                                {% else %}
                                    <img src="{% static 'images/empty_star.png' %}" alt="Empty star icon" class="star-icon">
                                {% endif %}
                            {% endfor %}
                        </div>
                </section>
                {{ item.body|linebreaks }}
                {% include 'reviews/ticket.html' with ticket=item.ticket page="my_posts" %}

                <div class="group-buttons">
                    {% if item.user == user %}
                        <button class="secondary-btn" type="button" data-url="{% url 'review-edit' item.id %}">Modifier la critique</button>
                        <button class="red-btn" type="button" data-url="{% url 'review-delete' item.id %}">Supprimer la critique</button>
                    {% endif %}
                </div>
            </div>

            {% endif %}

        {% endfor %}
    </div>

</div>

{% endblock content %}