{% extends 'base.html' %}

{% block content %}

<div class="main-page">
    <div class="page-content">
        <h2>Voulez-vous vraiment supprimer le billet "{{ ticket.title }}" ?</h2>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-buttons">
                <button class="secondary-btn" type="button" data-url="{% url 'ticket-details' ticket.id %}">Annuler</button>
                <button class="red-btn" type="submit">Supprimer le billet</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}