{% extends 'base.html' %}

{% block content %}

<div class="main-page">
    

    <div class="page-content">
        <h2>Flux</h2>
        <div class="group-buttons" style="margin-bottom: 1vw;">
            <button class="secondary-btn" type="button" data-url="{% url 'ticket-create' %}">Demander une critique</button>
            <button class="secondary-btn" type="button" data-url="{% url 'create-ticket-and-review' %}">Créer une critique</button>
        </div>
        {% for item in items %}

            {% if item.type == "ticket" %}

                {% include 'reviews/ticket.html' with ticket=item page="home" %}

            {% elif item.type == "review" %}
            
            <div class="review-container">
                {% if item.user == user %}
                    <p><strong>Vous</strong> avez publié une critique</p>
                {% else %}
                    <p><strong>{{ item.user.username }}</strong> a publié une critique</p>
                {% endif %}
                <p>Créé le : <strong>{{ item.time_created }}</strong></p>
                <p><strong>{{ item.headline }}</strong> - note {{ item.rating }}/5</p>
                {% include 'reviews/ticket.html' with ticket=item.ticket %}
            </div>

            {% endif %}

        {% endfor %}
    </div>

</div>

{% endblock content %}