{% extends 'base.html' %}

{% block content %}

<div class="login-page">

    <div class="signup-container">
        <h2>Inscrivez-vous maintenant</h2>
        <form method="get" action="{% url 'signup' %}">
            <button class="secondary-btn" type="submit">S'inscrire</button>
        </form>
    </div>

    <div class="login-container">
        <h2>Connectez-vous</h2>
        <form class="login-form" method="post">
            <div class="login-form-field">
                {{ form.username.label }}
                {{ form.username }}
                {% if form.username.errors %}
                    {{ form.username.errors }}
                {% endif %}
            </div>

            <div class="login-form-field">
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                    {{ form.password.errors }}
                {% endif %}
            </div>

            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}

            {% csrf_token %}
            <div class="login-form-buttons">
                <button class="primary-btn" type="submit">Se connecter</button>
            </div>

        </form>
    </div>

</div>

{% endblock %}