{% load static %}
<html lang="fr">

<head>
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    <nav class="nav-menu">
        <h1>LITRevu</h1>
        {% if user.is_authenticated %}
        <p>Bonjour, <strong>{{ user.username }}</strong> !</p>
        <ul>
            <li><a href="{% url 'home' %}">Flux</a></li>
            <li><a href="{% url 'my-posts' %}">Mes posts</a></li>
            <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>

        </ul>
        {% endif %}
    </nav>
    
    {% block content %}{% endblock content %}

</body>

</html>